// main SASS file
@import "partials/_variables.scss";
@import "partials/_mixins.scss";

*{
   @include all;
    &:after,
    &:before{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    }
}
html{
    font-size: 16px;
    font-family: $font-family; /* default for whole page */
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: $heading-font; /* serif for the headings */
}
ul{
    list-style: none;
}
/***********************************************
                SPECIAL
***********************************************/

.clearfix:after{
    display:table;
    clear: both;
    content: "";
}

/***********************************************
                LAYOUT
***********************************************/
.bg-header{
    @include bg-header;

    &:before,
    &:after{
        @include b-af;
    }
    &:before{
        left:0;
    }
    &:after{
        right:0;
    }
}
.bg-focal{
    background-color: $lightbrown;
    color: $darkbrown;
}
.bg-content1{
    background-color: $white;
    color: $darkgrey;
}
.bg-content2{
    background-color: $lightblue;
    color: $darkblue;
}
.bg-footer{
    background-color:$white;
    color: $lightgrey;
}
header{
    @include header;

    h1{
        width: 100%;
        padding: 0 2rem;
    }
    nav{
        width: 100%;
    }
    nav>ul li{
        width:100%;
        float: none;
    }
}
section{
    &.focal{
        width: 400px; /* default */
        margin: 0 auto;
    }
}
section.content1{
    padding: 2rem 0;
}
section.content2{
    @extend section.content1;
}
.row{
    clear: both;
}
.col-2{
    width:50%;
    float:left;
    padding-bottom: 2rem;
    border-left:1px solid $darkblue;
    margin-bottom: 2rem;
}
footer{
    padding: $padd;

    .col-2:first-child{
        border-left: 0;
    }
    p:last-child{
    }
}
/***********************************************
                NAVIGATION
***********************************************/

header {
        nav{
            padding: $padd;
            clear: both;
        &>ul>li>a{
            @include nav;
        &:hover{
            font-weight: 700;
            color:$darkbrown;
            }
        }
    }
}
/***********************************************
                CONTENT
***********************************************/
header {
    h1{
        color: $darkbrown;
        letter-spacing: 0.1rem;
    h1 i.fa-lg{
       @include h1Fa-lg;
    }
    &~ span{
        @include span;
        }
    }
}

.focal {
    h2{
        @include h2-focal;
    }
    .author{
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
    }
}
.content1 {
    h3{
        font-size: $font-size2;
        padding: 0.2rem 2rem 2rem;
    }
    i{
        @include h3-i;
    }
    p{
        font-size: $font-size1;
        padding: 0.5rem 2rem 2rem;
    }
}
.content2 {
    h3{
        font-size: $font-size2;
        padding: 1rem 2rem 0.5rem;
    }
    h4{
        font-size: $font-size2;
        padding: 1rem 2rem 0rem;
    }
    p{
        font-size: $font-size1;
        padding: 0.5rem 2rem 1rem;
    }
    li{
        padding: $padd2;
        font-size: $font-size1;
    }
}
/***********************************************
                FOOTER
***********************************************/
footer {
    h4{
        font-size: $font-size1;
        padding: $padd2;
        color: $darkbrown;
    }
    p{
        font-size: 1rem;
        padding: $padd2;
        color: $darkgrey;
    }
    .fa-circle{
        color: $darkgrey;
    }
    h4[lang=de]{
       display:block;
    }
    h4[lang=en],
    h4[lang=ar],
    h4[lang=ru]{
        display:none;
    }
}
/***********************************************
                MEDIA QUERIES
***********************************************/
@import "partials/_queries.scss"
